.acknowledgments {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.acknowledgments a {
  color: hsl(263, 55%, 52%);
}

.acknowledgments a:hover {
  color: hsl(263, 68%, 73%);
}

.acknowledgments a:visited {
  color: hsl(219, 29%, 14%);
}